# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IntelliJ stuff
.idea/

# No target folder
target/

# Binaries
/app/src/main/cpp/L01/libhello.*
